<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>BolShopping</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <!-- all CSS hear -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/slick.min.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/mainmenu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Style CSS hear -->

    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="~/http://browsehappy.com/">upgrade your browser</a> to improve your experience. Thanks</p>
        <![endif]-->
    <!-- Add your application content here -->

    <div class="loading-gif"></div>

    <div class="main-wrapper home-3">
        <header>
            <!-- hader-top start -->
            <div class="header-top bg-black">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header-left-area">
                                <!-- language-currency-wrapper start -->
                                <div class="language-currency-wrapper">
                                    <ul>
                                        <li class="drodown-show">
                                            <a href="~/#"><img src="~/img/icon/1.jpg" alt=""> English <i class="fa fa-angle-down"></i></a>
                                            <ul class="open-dropdown">
                                                <li class="active"><a href="~/#"><img src="~/img/icon/1.jpg" alt=""> English</a></li>
                                                <li><a href="~/#"><img src="~/img/icon/2.jpg" alt=""> Français</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                                <!-- language-currency-wrapper end -->

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <!-- user-info-top start-->
                            <div class="user-info-top">
                                <ul>

                                    <li class="top_links">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a style="color:white;">Welcome @User.Identity.Name </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Account" asp-action="Signin"><i class="fa fa-key"> Sign In </i></a>
                                        }
                                    </li>
                                    <li class="top_links">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-controller="Account" asp-action="Signout">Signout </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Account" asp-action="Register"><i class="fa fa-key">Register </i></a>
                                        }

                                    </li>
                                </ul>
                            </div>
                            <!-- user-info-top end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- hader-top end -->
            <!-- header-mid-area start -->
            <div class="header-mid-area hader-mid-two">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="rwo">
                                <div class="header-mid-content hader-mid-two">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-5 order-3 order-md-1">
                                            <!-- search-wrapper start -->
                                            <div class="search-wrapper">
                                                <div class="search-bar">
                                                    <form action="#">
                                                        <input type="text" placeholder="Search our catalog">
                                                        <button><i class="fas fa-search"></i></button>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- search-wrapper end -->
                                        </div>
                                        <div class="col-lg-4 col-md-4 order-2 order-md-2">
                                            <!-- logo-mid start -->
                                            <div class="logo-mid">
                                                <a href="~/index.html"><img src="~/img/logo/logo.png" alt=""></a>
                                            </div>
                                            <!-- logo-mid end -->
                                        </div>
                                        <div class="col-lg-4 col-md-3 order-1 order-md-3">

                                            

                                                @*<div class="favourite-heart"style="font-size: 30px; display:inline-block">
                                                </div>*@
                                                <!-- shoping-mini-cart-wrapper start -->
                                                <div class="shoping-mini-cart-wrapper">
                                                    <a style="font-size: 30px;" asp-controller="WishList" asp-action="Index"><i class="far fa-heart"></i></a>

                                                    @(await Component.InvokeAsync("Cart"))
                                                </div>
                                         
                                            <!-- shoping-mini-cart-wrapper end  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-mid-area end -->
            <!-- header-bottom start -->
            <div class="header-bottom-area sticky-header">
                <div class="container">
                    <div class="row d-none d-lg-block">
                        <div class="col-lg-12">
                            <div class="main-menu-wrap text-center">
                                <div class="main-menu">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a asp-controller="Home" asp-action="index">Home</a>
                                            </li>
                                            <li>
                                                <a href="#">Category <i class="fa fa-angle-down"></i></a>
                                                @(await Component.InvokeAsync("Category"))
                                            </li>

                                            <li><a asp-controller="Gallery" asp-action="Index">Gallery</a></li>
                                            <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                                            <li><a asp-controller="About" asp-action="Index">About us</a></li>
                                            <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-12">
                            <!-- Mobile Menu Area Start -->
                            <div class="mobile-menu-area d-block d-lg-none">
                                <div class="mobile-menu">
                                    <nav id="mobile-menu-active">
                                        <ul>
                                            <li>
                                                <a href="~/index.html">Home</a>
                                                <ul>
                                                    <li><a href="~/index.html">Home page 1</a></li>
                                                    <li><a href="~/index-2.html">Home page 2</a></li>
                                                    <li><a href="~/index-3.html">Home page 3</a></li>
                                                    <li><a href="~/index-4.html">Home page 4</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="~/shop.html">Page</a>
                                                <ul>
                                                    <li>
                                                        <a href="~/shop.html">Column One</a>
                                                        <ul>
                                                            <li><a href="~/shop.html">Shop Left</a></li>
                                                            <li><a href="~/shop-right.html">Shop Right</a></li>
                                                            <li><a href="~/shop-fullwidth.html">Shop Full Width</a></li>
                                                            <li><a href="~/shop-list.html">Shop list layout</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="~/shop.html">Column Two</a>
                                                        <ul>
                                                            <li><a href="~/blog.html">Blog Left</a></li>
                                                            <li><a href="~/blog-right.html">Blog Right</a></li>
                                                            <li><a href="~/blog-fullwidth.html">Blog Full Width</a></li>
                                                            <li><a href="~/blog-details.html">Blog Details</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="~/shop.html">Column Three</a>
                                                        <ul>
                                                            <li><a href="~/my-account.html">My Account</a></li>
                                                            <li><a href="~/frequently-question.html">FAQ</a></li>
                                                            <li><a href="~/login-register.html">Login &amp; Register</a></li>
                                                            <li><a href="~/error404.html">Error 404</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="~/shop.html">Column Four</a>
                                                        <ul>
                                                            <li><a href="~/wishlist.html">Wish List</a></li>
                                                            <li><a href="~/single-product.html">Single Product</a></li>
                                                            <li><a href="~/cart.html">Cart Page</a></li>
                                                            <li><a href="~/checkout.html">Check Out Page</a></li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="~/shop.html">Men</a>
                                                <ul>
                                                    <li>
                                                        <a href="~/#">Accessories</a>
                                                        <ul>
                                                            <li><a href="~/#">Hoodies</a></li>
                                                            <li><a href="~/#">Jackets & Coats</a></li>
                                                            <li><a href="~/#">Sweaters</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="~/#">Jewellery</a>
                                                        <ul>
                                                            <li><a href="~/#">Skirts</a></li>
                                                            <li><a href="~/#">Dress Pants</a></li>
                                                            <li><a href="~/#">Tops & Tees</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="~/#">Scarves</a>
                                                        <ul>
                                                            <li><a href="~/#">Joggers</a></li>
                                                            <li><a href="~/#">Lifestyle</a></li>
                                                            <li><a href="~/#">Flat sandals</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="~/shop.html">Women</a></li>
                                            <li><a href="~/blog.html">Blog</a></li>
                                            <li><a href="~/about.html">About us</a></li>
                                            <li><a href="~/contact.html">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu Area End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-bottom end -->
        </header>

        @RenderBody()
        <!-- footer-area start -->
        <footer class="footer-area">
            <div class="footer-top bg-gray ptb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="newsletter-title">
                                <h2 id="block-newsletter-label">Stay Up For SendNewsletter</h2>
                                <p>By follow news & our offers, apply off 20%</p>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="newsletter-area">
                                <form action="#" id="mc-form" class="newsletter-inner">
                                    <p>Newsletter Signup</p>
                                    <div class="newsletter-input">
                                        <input type="text" placeholder="Your email address">
                                    </div>
                                    <div class="subscribe-btn-area">
                                        <button type="submit" class="subscribe-btn">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-logo pt-80 text-center">
                                <a href="~/index.html"><img src="~/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-main-content pt-20">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <!-- footer-content start -->
                                <div class="footer-content">
                                    <h3 class="footer-title">Contact us</h3>
                                    <ul class="footer_list_info">
                                        <li><i class="fa fa-map-marker"></i>Raloza - Responsive Theme<br>No 40 Baria Sreet 133/2 NewYork City, NY, United States.<br>United States</li>
                                        <li class="phone"><img src="https://img.icons8.com/material-rounded/24/000000/phone--v1.png" /><span>+555 5678 12340</span></li>
                                        <li class="mail"><i class="fas fa-envelope"></i> <a href="~/#">demo@posthemes.com</a></li>
                                    </ul>
                                </div>
                                <!-- footer-content end -->
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <!-- footer-content start -->
                                <div class="footer-content">
                                    <h3 class="footer-title">Products</h3>
                                    <ul class="footer_list">
                                        <li><a href="~/#">Prices drop</a></li>
                                        <li><a href="~/#">New products </a></li>
                                        <li><a href="~/#">Best sales </a></li>
                                        <li><a href="~/#">Contact us </a></li>
                                        <li><a href="~/#">Sitemap </a></li>
                                    </ul>
                                </div>
                                <!-- footer-content end -->
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <!-- footer-content start -->
                                <div class="footer-content">
                                    <h3 class="footer-title">Our company</h3>
                                    <ul class="footer_list">
                                        <li><a href="~/#">Delivery</a></li>
                                        <li><a href="~/#">Legal Notice</a></li>
                                        <li><a href="~/#">About us</a></li>
                                        <li><a href="~/#">Secure payment</a></li>
                                        <li><a href="~/#">Stores</a></li>
                                    </ul>
                                </div>
                                <!-- footer-content end -->
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <!-- footer-content start -->
                                <div class="footer-content">
                                    <h3 class="footer-title">Your account</h3>
                                    <ul class="footer_list">
                                        <li><a href="~/#">Personal info</a></li>
                                        <li><a href="~/#">Orders</a></li>
                                        <li><a href="~/#">Credit slips</a></li>
                                        <li><a href="~/#">Addresses</a></li>
                                    </ul>
                                </div>
                                <!-- footer-content end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer-bottom-inner border-top">
                                <div class="copyright">Copyright <i class="icon-copyright"></i> <a href="~/#">Raloza</a>. All Rights Reserved</div>
                                <div class="payment">
                                    <img src="~/img/icon/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area end -->




    </div>


    <!-- jquery -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- all plugins JS hear -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.mainmenu.js"></script>
    <script src="~/js/ajax-email.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- main JS -->
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
