@model BolShpping.Models.VM.ViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using BolShpping.Models.DAL;
@inject MyContext  _context
<!-- our-service-section start -->
<div class="our-service-section border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="singel-service">
                    <div class="service-icon">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="service-info">
                        <p>Free shipping on orders over</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="singel-service">
                    <div class="service-icon">
                        <i class="fa fa-history"></i>
                    </div>
                    <div class="service-info">
                        <p>30 -Day returns money back</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="singel-service">
                    <div class="service-icon">
                        <i class="fa fa-futbol-o"></i>
                    </div>
                    <div class="service-info">
                        <p>24/7 Support</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our-service-section end -->
<!-- slider-main-area start-->
<div class="slider-main-area">
    <div class="slider-active owl-carousel">
        <!-- slider-wrapper start -->
        <div class="slider-wrapper-3" style="background-image:url(img/slider/home-03-1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-text-info style-4">
                            <h2>NEW</h2>
                            <h1><span>Fashion</span> <br><span class="font-width"> &</span> style</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider-wrapper end -->
        <!-- slider-wrapper start -->
        <div class="slider-wrapper-3" style="background-image:url(img/slider/home-03-2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-4">
                        <div class="slider-text-info style-3 slider-text-animation">
                            <h3 class="title-2">Introducing Our Favorite New Label</h3>
                            <h1 class="title-1">Zara 70% off</h1>
                            <p class="title-3">Feugiat eget dictum cum mollis a mi sem eu donec hac semper dapibus interdum cras cras ac parturient gravida libero vulputate suscipit a. </p>
                            <div class="slier-btn">
                                <a title="shop now" href="#" class="shop-btn">Shop now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider-wrapper end -->
    </div>
</div>
<!-- slider-main-area end-->
<!-- banner-area start -->
<div class="banner-area">
    <div class="container-fulid  p-0">
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6">
                <!-- singel-banner start -->
                <div class="singel-banner border-all">
                    <a href="#"><img src="~/img/benner/9.jpg" alt=""></a>
                </div>
                <!-- singel-banner end -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- singel-banner start -->
                <div class="singel-banner border-all">
                    <a href="#"><img src="~/img/benner/2.jpg" alt=""></a>
                </div>
                <!-- singel-banner end -->
            </div>
            <div class="col-lg-3 col-md-6 border-all">
                <!-- singel-banner start -->
                <div class="singel-banner">
                    <a href="#"><img src="~/img/benner/5.jpg" alt=""></a>
                </div>
                <!-- singel-banner end -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- singel-banner start -->
                <div class="singel-banner border-all">
                    <a href="#"><img src="~/img/benner/4.jpg" alt=""></a>
                </div>
                <!-- singel-banner end -->
            </div>
        </div>
    </div>
</div>
<!-- banner-area end -->
<!-- product-area start -->
<div class="product-two-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- section-title start -->
                <div class="section-title text-center">
                    <h2>Best seller</h2>
                    <p>Most Trendy Clothes</p>
                </div>
                <!-- section-title end -->
            </div>
            <div class="col-12">
                <div class="tabs-categorys-list">
                    <ul class="nav" role="tablist">
                        @{ int tabcount = 0;}
                        @foreach (var item in Model.Categories)
                        {
                            <li role="presentation" data-image="@item.Name" class="tab-productmenu"><a href="#tabmenu@(++tabcount)" aria-controls="@item.Name" role="tab" data-toggle="tab">@item.Name</a></li>

                            @*<li role="presentation"><a href="#women" aria-controls="women" role="tab" data-toggle="tab">Women</a></li>*@
                            @*<li role="presentation"><a href="#accessories" aria-controls="accessories" role="tab" data-toggle="tab">Accessories</a></li>*@
                        }

                    </ul>
                </div>
            </div>
        </div>
        @{
            int productCount = 0;
        }
        <!-- tab-contnt start -->
    <div class="tab-content">
        @{ int tabContentCount = 0;}
        @foreach (var category in Model.Categories)
        {

            
                <div role="tabpanel" class="tab-pane" id="tabmenu@(++tabContentCount)">
                    <div class="row">
                        @*<div class="">*@
                            @foreach (var item in Model.Products)
                            {

                                if (category.Name == item.Category.Name)
                                {
                                    ++productCount;
                                    @*<div class="col">*@
                                    <!-- single-product-wrap start -->
                                    <div class="single-product-wrap col-lg-3">
                                        <div class="product-thumbnail">
                                            <a href="#">
                                                <img class="first-image" src="~/img/@_context.ProductImages?.Where(pi => pi.ProductId == item.Id).FirstOrDefault().ImageCode" alt="">
                                            </a>
                                            <span class="label-sale">new</span>
                                            <div class="product-action">
                                                <a href="#" class="add-to-cart-btn addCart" id="@item.Id"><i class="icon fas fa-cart-plus"></i></a>
                                                <a href="#" class="quick-view" id="add-favourite" data-id="@item.Id"><i class="far fa-heart"></i></a>
                                                <a href="#" class="links-details"><i class="ion-clipboard"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content text-center">
                                            <h3 class="product-name"><a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id">@item.Name</a></h3>
                                            <div class="price-box">
                                                <span class="old-price">$@item.DiscountPrice</span>
                                                <span class="new-price">$@item.Price</span>
                                            </div>
                                        </div>
                                    </div>



                                }
                            }





                        @*</div>*@
                    </div>
                </div>
            }
        








    </div>
        <!-- tab-contnt end -->
    </div>
</div>
<!-- product-area end -->
<!-- banner-area start -->
<div class="banner-area">
    <div class="container-fulid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-4">
                <!-- singel-banner start -->
                <div class="singel-banner">
                    <a href="#"><img src="~/img/benner/6.jpg" alt=""></a>
                </div>
                <!-- singel-banner end -->
            </div>
            <div class="col-lg-4 col-md-4">
                <!-- singel-banner start -->
                <div class="singel-banner">
                    <a href="#"><img src="~/img/benner/7.jpg" alt=""></a>
                </div>
                <!-- singel-banner end -->
            </div>
            <div class="col-lg-4 col-md-4">
                <!-- singel-banner start -->
                <div class="singel-banner">
                    <a href="#"><img src="~/img/benner/8.jpg" alt=""></a>
                </div>
                <!-- singel-banner end -->
            </div>
        </div>
    </div>
</div>
<!-- banner-area end -->
<!-- section-area strat -->
<div class="section-area-2 ptb-80 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="testimonials-area">
                    <!-- section-title start -->
                    <div class="section-title text-center">
                        <h2>We get people saying</h2>
                    </div>
                    <!-- section-title end -->
                    <div class="testimonials-item owl-carousel">
                        <div class="testimonial-inner text-center">
                            <div class="img_testimonial">
                                <img src="~/img/about/1.png" alt="">
                            </div>
                            <div class="content_test">
                                <p class="des_namepost"><span>orando BLoom</span></p>
                                <p class="des_email">demo@gamil.com</p>
                                <div class="des_testimonial">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-inner text-center">
                            <div class="img_testimonial">
                                <img src="~/img/about/2.png" alt="">
                            </div>
                            <div class="content_test ">
                                <p class="des_namepost"><span>Ariana spna</span></p>
                                <p class="des_email">demo@gmail.com</p>
                                <div class="des_testimonial">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-inner text-center">
                            <div class="img_testimonial">
                                <img src="~/img/about/1.png" alt="">
                            </div>
                            <div class="content_test">
                                <p class="des_namepost"><span>BLoom don</span></p>
                                <p class="des_email">demo@gmail.com</p>
                                <div class="des_testimonial">
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section-area end -->
<!-- our-barand-area strat -->
<div class="our-barand-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col">
                <div class="our-brand-active owl-carousel">
                    <div class="single-brand">
                        <a href="#"><img src="~/img/brand/1.jpg" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="~/img/brand/2.jpg" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="~/img/brand/3.jpg" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="~/img/brand/4.jpg" alt=""></a>
                    </div>
                    <div class="single-brand">
                        <a href="#"><img src="~/img/brand/5.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our-barand-area end -->
<!-- latest-blog-area start -->
<div class="latest-blog-area ptb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="latest-blog-innar">
                    <!-- section-title start -->
                    <div class="section-title text-center">
                        <h2>Latest Blog</h2>
                    </div>
                    <!-- section-title end -->
                    <div class="latest-blog-area">
                        <div class="row">
                            <div class="latest-blog-active-2 owl-carousel">
                                <div class="col">
                                    <div class="latest-blog-img">
                                        <a href="blog-details.html"><img src="~/img/blog/home-1.jpg" alt=""></a>
                                    </div>
                                    <div class="latest-blog-cont">
                                        <h4><a href="blog-details.html">This is Secound Post For XipBlog</a></h4>
                                        <div class="date-smart">May 22, 2018</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="latest-blog-img">
                                        <a href="#"><img src="~/img/blog/home-2.jpg" alt=""></a>
                                    </div>
                                    <div class="latest-blog-cont">
                                        <h4><a href="blog-details.html">This is Secound Post For XipBlog</a></h4>
                                        <div class="date-smart">Jul 9, 2018</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="latest-blog-img">
                                        <a href="blog-details.html"><img src="~/img/blog/home-3.jpg" alt=""></a>
                                    </div>
                                    <div class="latest-blog-cont">
                                        <h4><a href="blog-details.html">This is Third Post For XipBlog</a></h4>
                                        <div class="date-smart">Jul 24, 2018</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="latest-blog-img">
                                        <a href="blog-details.html"><img src="~/img/blog/home-4.jpg" alt=""></a>
                                    </div>
                                    <div class="latest-blog-cont">
                                        <h4><a href="blog-details.html">This is Third Post For XipBlog</a></h4>
                                        <div class="date-smart">Jul 24, 2018</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- latest-blog-area end -->

@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>


        $(document).on("click", "#add-favourite", function (e) {
            e.preventDefault();
            var productId = $(e.currentTarget).data("id");
            console.log(productId)

            $.ajax({
                url: "/Home/AddFavourite/" + productId,
                success: function (response) {
                    $("#cart_count").html(response.dataCount);
                    if (response.status === 200) {


                        swal({
                            //title: "Təşəkkür edirik!",
                            text: response.message,
                            icon: "success",
                        });

                    }
                }

            })
        })


        $(document).on("click", ".addCart", function (e) {
            e.preventDefault();
            let id = $(this)[0].id;
            console.log(id)
            let quantity = 1;
            console.log(quantity)


            $.ajax({
                url: "/Home/AddBasket/",
                method: "POST",
                data: { id: id, quantity: quantity },
                dataType: "json",
                success: function myfunction(response) {
                    console.log(response.status)

                    if (response.status === 200) {
                        swal({
                            title: "Basket",
                            text: "Məhsulunuz səbətiniz-ə əlavə olundu",
                            icon: "success",
                        });
                        setTimeout(function () { location.reload(); }, 1700);

                    }
                    else if (response.status === 404) {
                        swal({
                            title: "Basket",
                            text: "Bu Məhsul artıq səbətinizdə var",
                            icon: "warning",
                        });
                    }
                    else if (response.status === 400) {
                        swal({
                            title: "Basket",
                            text: "Zəhmət olmasa qeydiyyatdan kecin",
                            icon: "warning",
                        });
                    }

                }

            })
        })


       
    </script>
    @*.data("productId")*@
}


