@using BolShpping.Models.VM
@model ViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumb-area start -->
<div class="breadcrumb-area breadcramb-bg ptb-80">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="breadcrumb-title">Blog Details</h2>
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Blog Details</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- main-content-warpper start -->
<div class="main-content-warpper">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-12 col-12">
                <!-- blog-details-area start -->
                <div class="blog-details-area pt-80">
                    <!-- single-blog-area start -->
                    <div class="single-blog-area blog-with-post">
                        <div class="post-category">
                            <ul>
                                <li><a href="#">WordPress</a></li>
                            </ul>
                        </div>
                        <div class="blog-titel">
                            <h1><a href="#">Post with Gallery</a></h1>
                        </div>
                        <span class="post-author">
                            <span class="posted-by">Posted by </span>admin
                        </span>
                        <span class="post-separator"> | </span>
                        <span class="post-date">March 10, 2015</span>
                        <div class="post-thumbnail">
                            <a href="#">
                                <img alt="" src="~/img/blog/large-3.jpg">
                            </a>
                        </div>
                        <div class="postinfo-wrapper">
                            <div class="post-info">
                                <p>
                                    Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero eu augue condimentum rhoncus. Praesent ornare tortor ac ante egestas hendrerit. Aliquam et metus pharetra, bibendum
                                    massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum eleifend. Pellentesque faucibus sem ante, non malesuada odio varius nec. Suspendisse potenti.
                                </p>
                                <blockquote>
                                    <p>
                                        Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula
                                        ut eleifend. Proin dictum tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.
                                    </p>
                                </blockquote>
                                <p>
                                    Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus
                                    id arcu facilisis elementum. Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend
                                    odio, ac fringilla mi vehicula nec. Nunc vitae lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper
                                    arcu.
                                </p>
                                <p>
                                    Suspendisse turpis ipsum, tempus in nulla eu, posuere pharetra nibh. In dignissim vitae lorem non mollis. Praesent pretium tellus in tortor viverra condimentum. Nullam dignissim facilisis nisl, accumsan placerat
                                    justo ultricies vel. Vivamus finibus mi a neque pretium, ut convallis dui lacinia. Morbi a rutrum velit. Curabitur sagittis quam quis consectetur mattis. Aenean sit amet quam vel turpis interdum sagittis et
                                    eget neque. Nunc ante quam, luctus et neque a, interdum iaculis metus. Aliquam vel ante mattis, placerat orci id, vehicula quam. Suspendisse quis eros cursus, viverra urna sed, commodo mauris. Cras diam arcu,
                                    fringilla a sem condimentum, viverra facilisis nunc. Curabitur vitae orci id nulla maximus maximus. Nunc pulvinar sollicitudin molestie.
                                </p>
                            </div>
                        </div>
                        <div class="post-commet">
                            <a href="#" class="blog-comment">0 COMMENT</a>
                        </div>
                        <!-- social-comment start -->
                        <div class="social-comment">
                            <div class="social-sharing">
                                <h3 class="social-title">SHARE THIS POST</h3>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- social-comment end -->
                    </div>
                    <!-- single-blog-area end -->
                    <!-- comments-area  start -->
                    <div class="comments-area mt-80">
                        <h4>@(_context.Comments.Count() + _context.Replies.Count()) comments</h4>


                        <ol class="commentlist">
                            @foreach (var item in Model?.Comments)
                            {
                                <li>
                                    <div class="single-comment">
                                        <div class="comment-avatar img-full">
                                            <img alt="" src="">
                                        </div>
                                        <div class="comment-info">
                                            <a href="#">@item.AppUser?.Name @item.AppUser?.SurName</a>
                                            <div class="reply">
                                                @*<a href="#"  data-reply-id="@item.Id">Reply</a>*@
                                            </div>
                                            <span class="date">@DateTime.Now</span>
                                            <p>@item.Message</p>

                                            <ol class="currentReplyComment">
                                                @foreach (var reply in Model?.Replies.Where(r => r.CommentId == item.Id))
                                                {
                                                    <li>
                                                        <div class="single-comment">
                                                            <div class="comment-avatar img-full">
                                                                <img alt="" src="">
                                                            </div>
                                                            <div class="comment-info">
                                                                <a href="#">@reply.Name</a>

                                                                <span class="date">@DateTime.Now</span>
                                                                <p>@reply.Message</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ol>
                                        </div>

                                        

                                        <div class="replyArea" data-reply-id="@item.Id">
                                            <div class="comments-area comments-reply-area">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h3 class="comment-reply-title">Reply</h3>
                                                        @*<form class="comment-form-area" action="#">*@
                                                        <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                                        <p class="comment-form-comment">
                                                            <label>Comment</label>
                                                            <textarea required="required" id="reply-message"></textarea>
                                                        </p>
                                                        <div class="comment-input">
                                                            <p class="comment-form-author">
                                                                <label>Name <span class="required">*</span></label>
                                                                <input type="text" name="Name" id="reply-name" required="required">
                                                            </p>
                                                            <p class="comment-form-email">
                                                                <label>Email <span class="required">*</span></label>
                                                                <input type="text" name="email" id="reply-email" required="required">
                                                            </p>
                                                            <p class="comment-form-url">
                                                                <label>Website</label>
                                                                <input type="text" id="reply-website" name="url">
                                                            </p>
                                                        </div>
                                                        <div class="comment-form-submit">
                                                            <input type="submit" data-reply-id="@item.Id" class="reply-submit" value="Post Comment">
                                                        </div>
                                                        @*</form>*@
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    
                                </li>
                            }
                        </ol>





                    </div>

                    <!-- comments-area  end -->
                    <!-- comments-reply-area start -->
                    <div class="commentArea">
                        <div class="comments-area comments-reply-area">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 class="comment-reply-title">Comment</h3>
                                    @*<form class="comment-form-area" action="#">*@
                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                    <p class="comment-form-comment">
                                        <label>Comment</label>
                                        <textarea id="comment-message" required="required"></textarea>
                                    </p>
                                    <div class="comment-input">
                                        <p class="comment-form-author">
                                            <label>Name <span class="required">*</span></label>
                                            <input type="text" name="Name" id="comment-name" required="required">
                                        </p>
                                        <p class="comment-form-email">
                                            <label>Email <span class="required">*</span></label>
                                            <input type="text" name="email" id="comment-email" required="required">
                                        </p>
                                        <p class="comment-form-url">
                                            <label>Website</label>
                                            <input type="text" id="comment-website" name="url">
                                        </p>
                                    </div>
                                    <div class="comment-form-submit">
                                        <input type="button" class="comment-submit" value="Post Comment">
                                    </div>
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- comments-reply-area end -->
                </div>
                <!-- blog-details-area end -->
            </div>
            <div class="col-lg-3 order-2 order-lg-1">
                <!-- blog-sidebar-wrapper start -->
                <div class="blog-sidebar-wrapper pt-80">
                    <!-- blog-sidebar-wrap start -->
                    <div class="blog-sidebar-wrap">
                        <div class="sidebar-title">
                            <h2>Categories</h2>
                        </div>
                        <ul class="single-categories-blog">
                            <li><a href="#">Creative (3)</a> </li>
                            <li><a href="#">Fashion <span>(1)</span></a></li>
                            <li><a href="#">Image <span>(1)</span></a></li>
                            <li><a href="#">Photography <span>(1)</span></a></li>
                            <li><a href="#">Travel <span>(5)</span></a></li>
                            <li><a href="#">Videos <span>(1)</span></a></li>
                            <li><a href="#">WordPress <span>(2)</span></a></li>
                        </ul>
                    </div>
                    <!-- blog-sidebar-wrap end -->
                    <!-- blog-sidebar-wrap start -->
                    <div class="blog-sidebar-wrap">
                        <div class="sidebar-title">
                            <h2>Search</h2>
                        </div>
                        <form class="blog-search-form" action="#">
                            <div class="form-input">
                                <input type="text" placeholder="Search..." class="input-text">
                                <button class="blog-search-button" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- blog-sidebar-wrap end -->
                    <!-- blog-sidebar-wrap start -->
                    <div class="blog-sidebar-wrap">
                        <div class="sidebar-title">
                            <h2>Recent Posts</h2>
                        </div>
                        <ul class="single-categories-blog">
                            <li><a href="#">Post With Audio</a></li>
                            <li><a href="#">Blog image post</a></li>
                            <li><a href="#">Post with Gallery</a></li>
                            <li><a href="#">Post with Video</a></li>
                            <li><a href="#">Maecenas ultricies</a></li>
                        </ul>
                    </div>
                    <!-- blog-sidebar-wrap end -->
                    <!-- blog-sidebar-wrap start -->
                    <div class="blog-sidebar-wrap">
                        <div class="sidebar-title">
                            <h2>Blog Archives</h2>
                        </div>
                        <ul class="single-categories-blog">
                            <li><a href="#">February 2018 <span>(1)</span></a> </li>
                            <li><a href="#">March 2015 <span>(1)</span></a></li>
                            <li><a href="#">December 2014 <span>(2)</span></a></li>
                            <li><a href="#">November 2014 <span>(1)</span></a></li>
                            <li><a href="#">September 2014 <span>(1)</span></a></li>
                            <li><a href="#">August 2014 <span>(1)</span></a></li>
                        </ul>
                    </div>
                    <!-- blog-sidebar-wrap end -->
                    <!-- blog-sidebar-wrap start -->
                    <div class="blog-sidebar-wrap">
                        <div class="sidebar-title">
                            <h2>Tags</h2>
                        </div>
                        <div class="sidebar-tag">
                            <a href="#">Women</a>
                            <a href="#">Bags</a>
                            <a href="#">Man</a>
                        </div>
                    </div>
                    <!-- blog-sidebar-wrap end -->
                    <div class="sidebar-banner">
                        <a href="#"><img alt="" src="~/img/benner/sidebar-1.jpg"></a>
                    </div>
                </div>
                <!-- blog-sidebar-wrapper end -->
            </div>
        </div>
    </div>
</div>
<!-- main-content-warpper end -->

@section Scripts{

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    @*Comment script*@
    <script>
        f = true;
        $(document).on("click", "#replyComment", function (e) {
            e.preventDefault();

            console.log(this.parentElement.parentElement.nextElementSibling)
            let btnReplyDataId = $(this).attr("data-reply-id");
   let replyFormDataId = this.parentElement.parentElement.nextElementSibling.getAttribute("data-reply-id");


            if (btnReplyDataId == replyFormDataId) {
                if (f == true) {
                    this.parentElement.parentElement.nextElementSibling.style.display = "block";
                    f = false;
                }
                else {
                    this.parentElement.parentElement.nextElementSibling.style.display = "none";
                    f = true;
                }
            }

            //if (f == true) {
            //    this.parentElement.parentElement.nextElementSibling.style.display = "block";
            //    console.log("true")
            //    //document.querySelector(".commentArea").style.display = "none";

            //    f = false;
            //}
            //else {
            //    this.parentElement.parentElement.nextElementSibling.style.display = "none";
            //    console.log("false")
            //    //document.querySelector(".commentArea").style.display = "block";

            //    f = true;
            //}

        })


        $(document).on("click", ".comment-submit", function (e) {
            //e.preventDefault();

            var name = $("#comment-name").val();
            var email = $("#comment-email").val();
            var text = $("#comment-message").val();
            var website = $("#comment-website").val();

            var formData = new FormData();
            formData.append("Name", name);
            formData.append("Email", email);
            formData.append("Text", text);
            formData.append("Website", website);

            $.ajax({
                url: "/Blog/Comment",
                type: "post",
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response.status === 200) {
                        console.log(response);

                        let comment = `<li>
                                        <div class="single-comment">
                                            <div class="comment-avatar img-full">
                                                <img alt="" src="">
                                            </div>
                                            <div class="comment-info">
                                                <a href="#" >${response.data.name}</a>
                                                <div class="reply">
                                                    <a href="#" id="replyComment">Reply</a>
                                                </div>
                                                <span class="date">${response.data.dateTime}</span>
                                                <p>${response.data.message}</p>
                                            </div>
                                        </div>
                                        <ol class= "currentReplyComment" >



                                        </ol>
                                    </li>  `

                        $(".commentlist").prepend(comment);

                    }

                    if (response.status === 400) {
                        swal({
                            title: "Warning!",
                            text: "Məlumatları duzgun daxil edin!",
                            icon: "warning",
                            dangerMode: true,
                        })
                        return;
                    }

                    if (response.status === 404) {
                        swal({
                            title: "Warning!",
                            text: "Zəhmət olmasa qeydiyyatdan keçin!",
                            icon: "warning",
                            dangerMode: true,
                        })
                        return;
                    }
                },
                error: function (res) {
                    console.log(res)
                    if (res.status == 500) {
                        swal({
                            title: "Error!",
                            text: res.error,
                            icon: "warning",
                            dangerMode: true,
                        })
                    }
                }

            })





        });
    </script>

    @*Reply Comment script*@
    <script>
        $(document).on("click", ".reply-submit", function (event) {
            event.preventDefault();
            console.log(event.target.parentElement.parentElement.parentElement.parentElement.parentElement.previousElementSibling.children[4])
            var name = $("#reply-name").val();
            var email = $("#reply-email").val();
            var text = $("#reply-message").val();
            var website = $("#reply-website").val();
            let id = this.getAttribute("data-reply-id");


            console.log(name)
            console.log(email)
            console.log(text)
            console.log(website)
            console.log(id)


            var formData = new FormData();
            formData.append("Name", name);
            formData.append("Email", email);
            formData.append("Text", text);
            formData.append("Website", website);



            $.ajax({
                url: "/Blog/ReplyComment/" + id,
                type: "post",
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);

                    if (response.status === 200) {

                        let reply = `<li>
                                                    <div class="single-comment">
                                                        <div class="comment-avatar img-full">
                                                            <img alt="" src="">
                                                        </div>
                                                        <div class="comment-info">
                                                            <a href="#">${response.data.appUser.name}</a>

                                                            <span class="date">${response.data.dateTime}</span>
                                                            <p>${response.data.message}</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                            `
                        $(".currentReplyComment").append(reply);
                        //$("#comment-reply-message").text('');
                        //console.log($(event.currentTarget).parent().prev().children())
                        //$(e.currentTarget).parent().before(reply);
                    }

                    if (response.status == 400) {
                        swal({
                            title: "Warning!",
                            text: "Məlumatları duzgun daxil edin!",
                            icon: "warning",
                            dangerMode: true,
                        })
                        return;
                    }
                    if (response.status === 404) {
                        swal({
                            title: "Warning!",
                            text: "Zəhmət olmasa qeydiyyatdan keçin!",
                            icon: "warning",
                            dangerMode: true,
                        })
                        return;
                    }

                },
                error: function (res) {
                    console.log(res)
                }
            })
        })



    </script>


}

