@model BolShpping.Models.VM.ViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
}

@using BolShpping.Models.DAL;
@inject MyContext  _context
<!-- breadcrumb-area start -->
<div class="breadcrumb-area breadcramb-bg ptb-80">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="breadcrumb-title">Blog Full Width</h2>
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- main-content-warpper start -->
<div class="main-content-warpper">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- blog-content-wrapper start -->
                <div class="blog-content-wrapper pt-80">
                    <!-- single-blog-area start -->
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="single-blog-area">
                            <div class="post-category">
                                <ul>
                                    <li><a href="#">Fashion</a></li>
                            
                                </ul>
                            </div>
                            <div class="blog-titel 	blog-image">
                              <h1><a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">   <i class="fas fa-thumbtack" style="color: #fe5f38;"></i> @item.Title</a></h1>
                            </div>
                            <span class="post-author">
                                <span class="posted-by">Posted by </span>@item.UserName
                            </span>
                            <span class="post-separator"> | </span>
                            <span class="post-date">@item.DateTime</span>

                            <div class="post-thumbnail">
                                <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">
                                    <img src="~/img/@_context.BlogImages.Where(i=>i.BlogId == item.Id).FirstOrDefault().ImageCode" alt="">
                                </a>
                            </div>
                            <div class="postinfo-wrapper">
                                <p class="mb-30">
                                    @item.Description
                                </p>
                                <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" class="readmore button">READ MORE</a>
                            </div>
                            <!-- social-comment start -->
                            <div class="social-comment">
                                <div class="social-sharing">
                                    <h3 class="social-title">SHARE THIS POST</h3>
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <a href="#" class="blog-comment">3 COMMENTS</a>
                            </div>
                            <!-- social-comment end -->
                        </div>
                    }
                    <!-- single-blog-area end -->

                </div>
                <!-- blog-content-wrapper end -->
            </div>
        </div>
    </div>
</div>
<!-- main-content-warpper end -->
