@model BolShpping.Models.VM.ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumb-area start -->
<div class="breadcrumb-area breadcramb-bg ptb-80">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="breadcrumb-title">Contact </h2>
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- main-content-warpper start -->
<div class="main-content-warpper pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <div class="contact-form">
                    <div class="contact-form-info">
                        <div class="contact-title">
                            <h3>TELL US YOUR PROJECT</h3>
                        </div>
                        <form id="contact-form"  asp-action="Index" method="post" enctype="multipart/form-data">
                            <div class="contact-page-form">
                                <div class="contact-input">
                                    <div class="contact-inner">
                                        <input asp-for="SendMessage.Name" type="text" placeholder="First Name *" id="first-name">
                                    </div>
                                    <div class="contact-inner">
                                        <input asp-for="SendMessage.LastName" type="text" placeholder="Last Name *" id="last-name">
                                    </div>
                                    <div class="contact-inner">
                                        <input type="text" placeholder="Email *" id="email" asp-for="SendMessage.Email">
                                    </div>
                                    <div class="contact-inner">
                                        <input asp-for="SendMessage.Subjet" type="text" placeholder="Subject*" id="subject">
                                    </div>
                                    <div class="contact-inner contact-message">
                                        <textarea asp-for="SendMessage.Message" placeholder="Message *"></textarea>
                                    </div>
                                </div>
                                <div class="contact-submit-btn">
                                    <button class="submit-btn" type="submit">Send Message</button>
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-sm-12">
                <div class="contact-infor mt-100">
                    <div class="contact-title">
                        <h3>@Model.Contacts.FirstOrDefault()?.Title</h3>
                    </div>
                    <div class="contact-dec">
                        <p>@Model.Contacts.FirstOrDefault()?.Description </p>
                    </div>
                    <div class="contact-address">
                        <ul>
                            <li><i class="fa fa-fax"> </i> @Model.Contacts.FirstOrDefault()?.Addres</li>
                            <li><i class="far fa-envelope"></i> @Model.Contacts.FirstOrDefault()?.Email</li>
                            <li><i class="fas fa-phone-volume"></i> @Model.Contacts.FirstOrDefault()?.Number</li>
                        </ul>
                    </div>
                    <div class="work-hours">
                        <h3><strong>Working hours</strong></h3>
                        <p>@Model.Contacts.FirstOrDefault()?.WorkingHourse</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- main-content-warpper end -->
